<form>
    <input type="text" name="user_id" value="<%- user_id %>" data-intro="enter the user id." data-step="4" />
    <input type="button" name="exec_btn" value="ボッチ？" data-intro="click the button." data-step="5" />
</form>
